
<style>
td {
	border: 1px dashed black;
	width: 550px;
	height: 250px;
	background: url('images/jfs_banner (copy).jpg') no-repeat center center;
	background-size: 100%;
	padding: 10px;
}

li
{
	list-style-type: none;
}

.correct
{
	background: lightblue; //cornflowerblue;
}

.subtitle
{
	font-size: 0.8em;
//	position: absolute;
	bottom: 10px;
}

</style>

<html>

<table>

<div id='questions'>

</div>

</table>

</html>




<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/underscore-min.js"></script>

<script>

questions = 
[{'a': ['450', '410', '415'],
  'q': 'When was rome sacked by Alaric, king of the Visigoths?',
  'r': 1},
 {'a': ['500', '550', '555'],
  'q': 'When did the Battle of Mos Badonicus take place?',
  'r': 0},
 {'a': ['522', '523', '524'],
  'q': 'When did Boethius write his Consolation of Philosophy',
  'r': 2},
 {'a': ['527', '598', '553'],
  'q': 'When did Justinian I become Eastern Roman Emperor?',
  'r': 0},
 {'a': ['529-534', '534-539', '539-544'],
  'q': 'when did  Justinian I publishes the Code of Civil Law.',
  'r': 0},
 {'a': ['528', '529', '530'],
  'q': 'When did the  Benedict of Nursia founds monastery at Monte Cassino.',
  'r': 1},
 {'a': ['553', '552', '551'],
  'q': 'The Byzantine conquest of Italy completes',
  'r': 1},
 {'a': ['565', '564', '563'],
  'q': 'Saint Columba\xc2\xa0founds mission in\xc2\xa0Iona.',
  'r': 2},
 {'a': ['568', '567', '566'],
  'q': 'The\xc2\xa0Kingdom of the Lombards\xc2\xa0is founded in Italy',
  'r': 0},
 {'a': ['570', '580', '590'], 'q': 'e Muhammed is born.', 'r': 0},
 {'a': ['570', '580', '590'],
  'q': 'Gregory the Great\xc2\xa0becomes\xc2\xa0Pope.',
  'r': 2},
 {'a': ['595', '597', '601'],
  'q': 'Augustine\xc2\xa0arrives in\xc2\xa0Kent.',
  'r': 1},
 {'a': ['604', '605', '606'],
  'q': 'Grand Canal of China\xc2\xa0completed.',
  'r': 1},
 {'a': ['528', '529', '527'], 'q': 'Battle of Nineveh.', 'r': 2},
 {'a': ['632', '633', '634'], 'q': 'Death of Muhammed.', 'r': 0},
 {'a': ['670', '630', '638'],
  'q': 'Jerusalem\xc2\xa0captured by the Arab army, mostly Muslims, but with contingents of Syrian Christians.Muslims.',
  'r': 2}]

questions.map( function(item) {
	var count = 0
	var letters = [ 'a', 'b', 'c' ];
	item.answers = item.a.map( function(i) 
	{ 
		var style = ( count == item.r ) ? 'correct' : ''; 
		count++ ; 
		return '<li class="'+style+'">' + letters[count-1] + ') ' + i + '</li>' 
	} ).join("\n")
} )

template = " \
<td><b> <%=q%> </b>\
<ul> <%=answers%> </ul> \
<span class='subtitle'>JFS History Snakes and Ladder by Noe Horowitz</span> \
</td> \
"

c = 0
html = questions.map( function(item)
{
	cell = _.template(template)(item)
	c++
	if (( c % 2 ) )
		return '<tr>' + cell
	else
		return cell + '</tr>'
} ).join("\n")

$("#questions").html( html )  

</script>
